body {
  display: flex;
  background: linear-gradient(to right, white, #46A1EB);
}

.page-left {
  align-items: flex-start;
}

.page-right {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-right p {
  display: flex;
  justify-content: center;
}

.title {
  order: -1;
  font-size: 32px;
  font-weight: 400;
}

.description {
  order: 1;
  font-size: 22px;
  width: 70vh;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30vw;
  overflow-y: auto;
}

.tweets {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.tweets li {
  border-bottom: 1px solid #E7ECF0;
  padding: 15px;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  justify-content: space-around;
}

.name {
  padding-left: 15px;
  padding-bottom: 10px;
  flex-direction: column;
}

.real_name {
  font-size: 18px;
  font-weight: 550;
}

.screen_name {
  font-size: 14px;
  font-weight: 300px;
  font-style: italic;
  color: #657786;
}

.tweets:last-child{
  border-top: 1px solid black;
}

.tweets img{
  border-radius: 50%;
  max-height: 48px;
  max-width: 48px;
  justify-content: flex-start;
}

.tweet-time {
  font-size: 14px;
  font-weight: 300px;
  font-style: italic;
  color: #657786;
}

.tweet-text {
  padding: 15px 0px;
  font-size: 16px;
}

.tweet-info {
  display: flex;
  justify-content: space-around;
  color: #657786;
}

.tweet-from {
  font-size: 14px;
  font-weight: 300px;
  font-style: italic;
  color: #657786;
}

.land {
  fill: #fff;
  stroke: #ccc;
}

.state {
  stroke: #666;
  opacity: 0.6;
}
