.body {
  display: flex;
}

.americaMap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweet-container {
  float: right;
  max-height: 100vh;
  width: 400px;
  overflow-x: auto;
  overflow-y: auto;
}

.tweets {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.tweets li {
  border-bottom: 1px solid #E7ECF0;
  padding: 15px;
}

.prof-info {
  display: flex;
  flex-direction: row;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
  padding-bottom: 10px;
}

.real_name {
  font-size: 18px;
  font-weight: 550;
}

.screen_name {
  font-size: 14px;
  font-weight: 300px;
  font-style: italic;
  color: #657786;
}

.tweets:last-child{
  border-top: 1px solid black;
}

.tweets img{
  border-radius: 50%;
  max-height: 48px;
  justify-content: flex-start;
}

.tweet-time {
  font-size: 14px;
  font-weight: 300px;
  font-style: italic;
  color: #657786;
}

.tweet-text {
  padding: 10px 0px;
}

.tweet-info {
  display: flex;
  justify-content: space-around;
  color: #657786;
}

.tweet-from {
  font-size: 14px;
  font-weight: 300px;
  font-style: italic;
  color: #657786;
}

.land {
  fill: #fff;
  stroke: #ccc;
}

.state {
  stroke: #666;
  opacity: 0.6;
}
